* {
  font-family: Helvetica;
}


body {
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /*prevent the page from scrolling horizontally*/

  background-color: rgb(20, 20, 20);
  /*background-image: url('background-image2.jpg');*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
  

header {
  /*background-color: #1f1f1fe8;*/
  background-color: #00000048;
  padding: 20px;
  padding-left: 30px;

  width: 100%;
  display: flex;
  vertical-align: top;   
  justify-content: space-between;
}

header h1 {
  margin: 0;
  align-self: flex-start;
  vertical-align: top;
  padding-left: 10px;
  
  font-size: 3em;
}

main {
  padding: 10px;
}



.left-section {
  float: left;
  width: 48%;
  text-align: center;

  margin-top: 75px;
  margin-left: 20px;
  vertical-align: center;
  /*background-color: red;*/
}

.circular-image {
  border-radius: 50%;
  width: 60vh;
  height: 60vh;
  object-fit: cover;
  left: 50%;
}


.right-section {
  float: right;
  width: 48%;
  margin-top: 75px;
  margin-right: 20px;

  text-align: center;
  /*background-color: #000000b4;*/
  /*background-color: green;*/
}
.right-section h2{
  text-align: left;
}
.right-section a:visited {
  color: rgb(0, 162, 255);
}



#about{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
#about p{
  text-align: left;
}
#about a{
  text-decoration: none;
}


#contact{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#contact a:link {
  color: rgb(0, 162, 255);
}
#contact a:visited {
  color: rgb(0, 162, 255);
}
#contact a:hover {
  color: rgb(0, 255, 13);
}
#contact a:active {
  color: red;
}


#contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#contact ul li {
  margin-bottom: 4px;
}

section h2 {
  margin-top: 0;
}