* {
  font-family: Helvetica;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /*prevent the page from scrolling horizontally*/

  background-color: rgb(20, 20, 20);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  background-color: #0e0e0e;
  padding: 20px;
  padding-left: 30px;

  width: 100%;
  display: flex;
  vertical-align: top;   
  justify-content: space-between;
}

header h1 {
  max-width: 40%;
  margin: 0;
  align-self: flex-start;
  vertical-align: top;
  padding-left: 10px;
  
  font-size: 3em;
}

main {
  padding: 10px;
}


.left-section {
  float: left;
  width: 50%;
  min-height: calc(100vh - 200px); /* ensures the left-section will reach the footer */
  margin-top: 75px;
  margin-left: 20px;

  text-align: center;    
}

.video-container{
  /* Force video to be 16:9 using padding trick */
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.video-container iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;    
  top: 0;

  border: 0;
}


.right-section {
  float: right;
  width: 48%;
  margin-top: 50px;
  text-align: left;
  /*background-color: #00000048;*/
}



#Description{
  /*background-color: #000000b4;*/
  
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 5px;
}
#Description a{
  text-decoration: none;
}
#Description ul{
  list-style-type: disc;
}


#Project-Files{
  /*background-color: #000000b4;*/
  
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 5px;
}


.right-section a:link {
  color: rgb(0, 162, 255);
}
.right-section a:visited {
  color: rgb(0, 162, 255);
}
.right-section a:hover {
  color: rgb(0, 255, 13);
}
.right-section a:active {
  color: red;
}