* {
  font-family: Helvetica;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /*prevent the page from scrolling horizontally*/

  background-color: rgb(20, 20, 20);
  /*background-image: url('background-image2.jpg');*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
  

header {
  /*background-color: #1f1f1fe8;*/
  background-color: #00000048;
  padding: 20px;
  padding-left: 30px;

  width: 100%;
  display: flex;
  vertical-align: top;   
  justify-content: space-between;
}

header h1 {
  margin: 0;
  align-self: flex-start;
  vertical-align: top;
  padding-left: 10px;
  
  font-size: 3em;
}


main {
  padding: 10px;
  height: 100%;
}

iframe {
  border: none;
  width: 100%;
  min-height: 80vh;
}